.purchase-product-page
  = render "shared/logo-header"
  .purchase-product-page__contents
    .purchase-product-page__contents__main
      %h2.head-title-content
        購入内容の確認
      .purchase-product-detail
        .purchase-product-detail__main
          .purchase-product-detail__main__main
            .purchase-product__img
              = image_tag @detail.images[0],height:"80",width:"80"
            %p.purchase-product__name
              = @detail.name
          .purchase-product-charge
            %p.purchase-product-charge__check
              = number_with_delimiter @detail.price
              %span
                （税込）送料込み
            %ul.purchase-product-charge__lists
              %li.purchase-product-charge__list
                .purchase-product-charge__list__point
                  ポイントはありません
            %ul.purchase-product-charge__lists__pay
              %li.purchase-product-charge__list__pay
                .purchase-product-charge__list__pay__left
                  支払い金額
                .purchase-product-charge__list__pay__right
                  = number_with_delimiter @detail.price
            = link_to buy_item_path(@detail.id),method: :post,class:"purchase-product-charge__button" do
              購入する
      .purchase-product-detail__delivery
        .purchase-product-detail__delivery__content
          %h3.shipping-address
            配送先
          .user-input-address
            .purchase-zip_code
              =@user.address.zip_code.to_s.insert(3, "-")
            .purchase-address
              =@user.address.prefecture.name
              =@user.address.city
              =@user.address.house_number
              =@user.address.building_name

          %p.user-input-address-space
          = link_to ready_users_path(current_user.id), class:"user-input-address-change" do
            %span.user-input-address-change__link
              変更する
            %i.fas.fa-chevron-right
      .method-of-payment
        .method-of-payment__main
          %h3.method-of-payment__main__way
            支払い方法
          %p.method-of-payment__main__info
            クレジットカード
          .method-of-payment__main__card__img
            .card-number
              = "**** **** **** " + @default_card_information.last4
            .card-day
              - exp_month = @default_card_information.exp_month.to_s
              - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
              = exp_month + " / " + exp_year
            .card-company
              = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?2356129156", alt: "", height: "20", width: "49"
          = link_to new_card_path(current_user.id), class:"user-input-address-change" do
            %span.user-input-address-change__link
              変更する
            %i.fas.fa-chevron-right


= render "shared/copyright-footer"